body {
  font-family: "Montserrat", sans-serif;
  color: #0e0d0d;
}
body .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 2rem 4rem;
}
body .body {
  background-color: #ecc1b1;
}
body h3 {
  color: #ffffff;
  font-weight: bold;
}
body .track-wrapper {
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.788);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}
body .form-control {
  border: 1px solid #e07f5f !important;
  box-shadow: none !important;
}
body option {
  background-color: #ffffff !important;
  border: none !important;
}
body .issuetitle {
  color: #e07f5f;
}
body .btn {
  border-radius: 10px;
}
body .btn:active {
  box-shadow: none !important;
}
body .btn-danger {
  background-color: #e07f5f !important;
  color: #ffffff;
  transition: ease 0.2s;
  border-color: #e07f5f !important;
}
body .btn-danger:active {
  box-shadow: none !important;
  background-color: #974c33 !important;
  color: #ffffff !important;
}
body .btn-danger:hover {
  background-color: #974c33 !important;
  color: #ffffff !important;
}
body .btn-warning {
  background-color: #ffffff !important;
  color: #e07f5f !important;
  border: 1px solid #e07f5f !important;
  transition: 0.2s ease;
}
body .btn-warning:active {
  box-shadow: none !important;
  background-color: #e07f5f !important;
  color: #ffffff !important;
}
body .btn-warning:hover {
  background-color: #e07f5f !important;
  color: #ffffff !important;
}
body .btn-primary {
  background-color: #e07f5f !important;
  transition: ease 0.4s;
  border-color: #e07f5f !important;
}
body .btn-primary:hover {
  background-color: #ffffff !important;
  border: 1px solid #e07f5f;
  color: #e07f5f !important;
}
body .btn-primary:active {
  background-color: #ffffff !important;
  border: 1px solid #e07f5f;
  color: #e07f5f !important;
}
body .issues-result {
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.788);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}
body .badge {
  color: #0e0d0d;
  background-color: #ffffff;
}
body .badge-success {
  border: 2px solid red;
}
body .badge-warning {
  border: 2px solid orange;
}
body .badge-secondary {
  border: 2px solid green;
  background-color: #0e0d0d;
  color: #ffffff;
  border: 2px solid #0e0d0d !important;
}
body .badge-info {
  border: 2px solid #0e0d0d !important;
}
body .fa-address-card {
  color: #e07f5f;
}
body .col-md-6 {
  margin-left: 45px !important;
}
@media (max-width: 560px) {
  body .row {
    padding: 2rem 1rem;
  }
}