body {
  font-family: 'Montserrat', sans-serif;
  color: #0e0d0d;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 2rem 4rem
}

.body {
  background-color: rgb(236, 193, 177);
}

h3 {
  color: white;
  font-weight: bold;
}

.track-wrapper {
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.788);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);

}

.form-control {
  border: 1px solid #e07f5f !important;
  box-shadow: none !important;
}

option {
  background-color: #fff !important;
  border: none !important;
}

.issuetitle {
  color: #e07f5f;
}

.btn {
  border-radius: 10px;
}

.btn:active,
.btn-danger:active,
.btn-warning:active {
  box-shadow: none !important;
}

.btn-primary {
  background-color: #e07f5f !important;
  transition: ease 0.4s;
  border-color: #e07f5f !important;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: #fff !important;
  border: 1px solid#e07f5f;
  color: #e07f5f !important;
}

.btn-warning {
  background-color: white !important;
  color: #e07f5f !important;
  border: 1px solid #e07f5f !important;
  transition: 0.2s ease;
}

.btn-warning:hover,
.btn-warning:active {
  background-color: #e07f5f !important;
  color: white !important;
}

.btn-danger {
  background-color: #e07f5f !important;
  color: white;
  transition: ease 0.2s;
  border-color: #e07f5f !important;
}

.btn-danger:hover,
.btn-danger:active {
  background-color: #974c33 !important;
  color: white !important;
}

.issues-result {
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.788);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

.badge {
  color: #0e0d0d;
  background-color: #fff
}

.badge-success {
  border: 2px solid red;
}

.badge-warning {
  border: 2px solid orange;
}

.badge-secondary {
  border: 2px solid green;
}

.badge-info {
  border: 2px solid #0e0d0d !important;
}

.badge-secondary {
  background-color: #0e0d0d;
  color: white;
  border: 2px solid #0e0d0d !important;
}

.fa-address-card {
  color: #e07f5f;
}

.col-md-6 {
  margin-left: 45px !important;
}

/*Media Queries*/

@media (max-width: 560px) {
  .row {
    padding: 2rem 1rem
  }
}